
body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #040D12;
    color: black;
}

.container {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calcolatrice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: auto;
    background-color: #5C8374;
    padding: 5px;
    border: 3px solid #183D3D;
    border-radius: 9px;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
}

input {
    border: 2.5px solid #183D3D;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    height: 50px;
    width: 160px;
    color: #183D3D;
    font-size: xx-large;
}

.tastierino {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 50px;
    height: 50px;
    color: white;
    background-color: #183D3D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font: bold;
}

button:hover {
    background-color: #040D12;
    color: white;
}

.ac {
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button#ac {
    width: 160px;
}